.dropdown {
  position: relative;
  width: 79px;
  margin: 0 auto;
}

.button {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  background: #ffffff;
  font-size: 14px;
  color: #8c8c8c;
  cursor: pointer;
  font-family: 'pretendard';
}

.dropdownArrow {
  width: 14px;
  height: 14px;
  opacity: 0.5;
  margin-left: 4px;
}

.dropdownOpen .button {
  border-color: #818181;
  color: #000000;
}

.dropdownOpen .dropdownArrow {
  opacity: 1;
}

.dropdownDisabled {
  pointer-events: none;
}

.dropdownDisabled .button {
  background: #ffffff;
  border-color: #818181;
  color: #818181;
  cursor: not-allowed;
}

.dropdownDisabled .dropdownArrow {
  opacity: 0.3;
}

.dropdownMenu {
  position: absolute;
  margin-top: 4px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(140, 140, 140, 0.25);
  list-style: none;
  padding: 4px 0;
  font-size: 14px;
  z-index: 10;
  font-family: 'Pretendard';
}

.dropdownMenu li {
  padding: 4px 16px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background: #f5f5f5;
  color: var(--blue);
}

.dropdownMenu li:active {
  color: var(--blue);
  font-weight: 500;
}

.selected {
  color: var(--blue);
  font-weight: 500;
  background-color: #f5f8ff;
}

.dropdownMenu li:hover:not(.selected) {
  background: #f5f5f5;
  color: var(--blue);
}
