.answerCard {
  display: flex;
  gap: 12px;
}

.avatar {
  width: 48px;
  height: 48px;
}

.answerContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.answerHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  color: var(--gray-60);
  line-height: 1;
}

.createdAt {
  font-size: 14px;
  color: var(--gray-40);
}

.answerContentText {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-60);
}

.answerContentTextRejected {
  color: var(--red);
}
