.editMenu {
  background: var(--gray-10);
  border: 1px solid var(--gray-30);
  border-radius: 12px;
  box-shadow: var(--shadow-1);
  list-style: none;
  padding: 4px 4px;
  width: 110px;
  height: 68px;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  font-size: 14px;
  color: var(--gray-50);
  cursor: pointer;
}
.icon {
  width: 14px;
  height: 14px;
  filter: brightness(0) saturate(100%);
}
.menuItem:hover {
  background: var(--gray-10);
}
.menuItem:active {
  color: var(--blue);
}
.menuItem:active .icon {
  filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(5000%)
    hue-rotate(200deg) brightness(95%) contrast(97%);
}
.delete:active {
  color: var(--blue);
}
.delete:active .icon {
  color: var(--blue);
}
.disabled {
  pointer-events: none;
}
.disabled .menuItem {
  color: var(--gray-50);
}
.disabled .icon {
  color: var(--gray-50);
}
