.editMenu {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(140, 140, 140, 0.25);
  list-style: none;
  padding: 4px 4px;
  width: 110px;
  height: 68px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  font-size: 14px;
  color: #515151;
  cursor: pointer;
}

.icon {
  width: 14px;
  height: 14px;
  color: #515151; 
}

.menuItem:hover {
  background: #ffffff;
}

.menuItem:active {
  color: #1877f2;
}

.menuItem:active .icon {
  color: #1877f2;
}

.delete:active {
  color: #1877f2;
}

.delete:active .icon {
  color: #1877f2;
}

.disabled {
  pointer-events: none;
}

.disabled .menuItem {
  color: #515151;
}

.disabled .icon {
  color: #515151;
}
