/* 버튼 공통 스타일 */
.button {
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 400;
}

.icon {
  width: 18px;
  height: 18px;
}

/* ========================================
  타입: box (박스형 버튼)
   ======================================== */
.box {
  gap: 8px;
}

/* ========================================
  타입: floating (플로팅 버튼)
   ======================================== */
.floating {
  border-radius: 200px;
  box-shadow: var(--shadow-2);
  background-color: var(--brown-40);
  color: var(--gray-10);
}

/* ========================================
  색상: brown (갈색 버튼)
  (질문받기, 답변 완료 등)
   ======================================== */
.brown {
  background-color: var(--brown-40);
  color: var(--gray-10);
  border: 2px solid transparent;
}
/* floating hover 상태 (마우스 올렸을 때) */
.floating:hover:not(:disabled) {
  border: 2px solid var(--brown-50);
}

.floating:active:not(:disabled) {
  background-color: var(--brown-50);
}
/* brown 버튼에 마우스 올렸을 때*/
.brown:hover:not(:disabled) {
  border: 2px solid var(--brown-50);
}

.brown:active:not(:disabled) {
  background-color: var(--brown-50);
}

/* brown 버튼 비활성화 */
.brown:disabled {
  background-color: var(--brown-30);
  cursor: not-allowed; /*  마우스 금지 커서 */
}

/* ========================================
  색상: beige (베이지 버튼)
  보조 액션에 사용 (질문하러 가기 등)
   ======================================== */
.beige {
  background-color: var(--brown-10);
  color: var(--brown-40);
  border: 1px solid var(--brown-40);
}

/* beige 버튼에 마우스 올렸을 때 (disabled 아닐 때만)*/
.beige:hover:not(:disabled) {
  border: 2px solid var(--brown-40);
}

/* beige 버튼 클릭했을 때 */
.beige:active:not(:disabled) {
  background-color: var(--brown-20);
}

/* beige 버튼 비활성화 */
.beige:disabled {
  background-color: var(--brown-10);
  border-color: var(--brown-30);
  color: var(--brown-30);
  cursor: not-allowed;
}

/* ========================================
  크기: sm (작은 버튼)
   ======================================== */

.sm {
  /* floating 타입 기본값 */
  padding: 5px 24px;
  font-size: 15px;
  line-height: 25px;
}

.box.sm {
  /* .box이면서 동시에 .md */
  padding: 8px 12px;
  font-size: 14px;
  line-height: 18px;
  gap: 4px;
}

/* ========================================
  크기: md (중간 버튼, 기본값)
   ======================================== */
.md {
  /* floating 타입 기본값 */
  padding: 14.5px 49.5px;
  font-size: 20px;
  line-height: 25px;
}

/* box 타입이면서 md일 때 */
.box.md {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 22px;
}

/* ========================================
  반응형: 모바일 (375px 이하)
   ======================================== */

@media (max-width: 375px) {
  /* floating sm */
  .sm {
    padding: 0 17.5px;
    font-size: 10px;
  }

  /* floating md */
  .md {
    padding: 14.5px 24px;
  }

  /* box && md */
  .box.md {
    padding: 8px 12px;
    gap: 4px;
    font-size: 14px;
    line-height: 18px;
  }
}
