.userCardWrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 220px;
  height: 187px;
  border: 1px solid var(--gray-40);
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
}

.userProfileWrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 12px;
}

.userImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../../assets/images/profile.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.questionWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--gray-40);
}

.receivedQuestion {
  display: flex;
  align-items: center;
  gap: 2px;
}

.questionIcon {
  margin-bottom: 2px;
}

@media (max-width: 375px) {
  .userCardWrap {
    width: 155.5px;
    height: 168px;
    padding: 16px;
  }

  .userImg {
    width: 48px;
    height: 48px;
  }

  .body1Mobile {
    font-size: 18px;
  }

  .body3Mobile {
    font-size: 14px;
  }
}
