.listPage {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 146px;
  height: 57px;
  margin-top: 40px;
  cursor: pointer;
}

.listheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.listTitle {
  font: 'pretendard';
  font-size: 40px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}