@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  font-family: 'Actor', sans-serif;
  margin-top: 46px;
}

/* 페이지 버튼 스타일 */
.pageButton,
.pageButtonLeft,
.pageButtonRight {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--gray-40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Actor', sans-serif;
  font-weight: 400;
}

.active {
  color: var(--brown-40);
  font-weight: 400;
}

.pageButtonLeft,
.pageButtonRight {
  padding: 0;
  background: none;
  border: none;
  color: var(--gray-30);
}

.pageButtonLeft:disabled,
.pageButtonRight:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 페이지 번호 hover */
.pageButton:hover:not(.active) {
  background-color: var(--gray-30);
  color: var(--gray-60);
  border-radius: 50%;
}

/* 화살표 hover (활성 상태만) */
.pageButtonLeft:hover:not(:disabled),
.pageButtonRight:hover:not(:disabled) {
  background-color: var(--gray-10);
  border-radius: 50%;
}

/* 화살표 아이콘 hover 시 살짝 강조 */
.pageButtonLeft:hover:not(:disabled) img,
.pageButtonRight:hover:not(:disabled) img {
  filter: brightness(0.8);
  background-color: var(--gray-20);
  border-radius: 50%;
  color: var(--gray-60);
}

.doubleArrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and ((min-width: 375px) and (max-width: 767px)) {
  .edgeButton {
    display: none;
  }
}
