.questionHeader {
  padding: 16px;
}

.questionHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  gap: 8px;
  color: var(--brown-40);
}
