.Toast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  gap: 12px;
}

.LinkImg {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.ToastText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  top: 400px;
  padding: 12px 20px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.test {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}