.badgeBase {
  height: 26px;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: var(--gray-10);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.badgeComplete {
  border: 1px solid var(--brown-40);
  color: var(--brown-40);
}

.badgePending {
  border: 1px solid var(--gray-40);
  color: var(--gray-40);
}
