/* COLOR */

:root {
  /* Gray Scale */
  --gray-60: #000000;
  --gray-50: #515151;
  --gray-40: #818181;
  --gray-30: #cfcfcf;
  --gray-20: #f9f9f9;
  --gray-10: #ffffff;

  /* Brown */
  --brown-50: #341909;
  --brown-40: #542f1a;
  --brown-30: #c7bbb5;
  --brown-20: #e4d5c9;
  --brown-10: #f5f1ee;

  /* Blue */
  --blue: #1877f2;

  /* Yellow */
  --yellow: #fee500;

  /* Red */
  --red: #b93333;

  /* Shadow */
  --shadow-1: 0 4px 4px #8c8c8c40;
  --shadow-2: 0 4px 4px #00000040;
  --shadow-3: 0 4px 4px #3030309e;
}

/* FONT BASE                     */
body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
  color: var(--gray-60);
}

/* TYPOGRAPHY STYLES             */
.font-h1 {
  font-size: 40px;
  line-height: 1;
}

.font-h2 {
  font-size: 32px;
  line-height: 1;
}

.font-h3 {
  font-size: 24px;
  line-height: 1;
}

.font-body1 {
  font-size: 20px;
  line-height: 25px;
}

.font-body2 {
  font-size: 18px;
  line-height: 24px;
}

.font-body3 {
  font-size: 16px;
  line-height: 22px;
}

.font-caption1 {
  font-size: 14px;
  line-height: 18px;
}

/* Font Weight */
.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}
