.background {
  min-height: 100vh;
  background-image: url('../../assets/images/bannerImage1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 45px 130px 0;
  background-size: contain;
  background-color: #f7f7f7;
  box-sizing: border-box;
  overflow-y: hidden;
}

.alertWrap {
  position: fixed;
  bottom: 25%;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: var(--gray-60);
  color: var(--gray-10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contentsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
}

.askBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  margin-top: 89px;
}

.formBox {
  border-radius: 16px;
  background-color: var(--gray-10);
  padding: 32px;
  width: 400px;
}

.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .background {
    padding: 44px 50px 0;
  }
}

@media (max-width: 375px) {
  .background {
    height: 100vh;
    padding: 80px 35px 0;
  }

  .askBtn {
    position: static;
  }

  .contentsWrap {
    gap: 24px;
  }
  .logoWrap {
    padding: 0 28px;
  }
  .logo {
    margin-top: 0;
  }

  .formBox {
    width: 305px;
    padding: 24px;
    box-sizing: border-box;
  }

  .nameInput {
    width: 100%;
  }
}
