html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.background {
  min-height: 100vh;
  background-image: url('../../assets/images/bannerImage1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: #f7f7f7;
  box-sizing: border-box;
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px 0;
  height: 96.99px;
}

.askBtnWrap {
  margin-right: 130px;
  margin-top: 44px;
}

.contentsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
}

button.askBtn {
  background-color: var(--brown-10);
  border: 1px solid var(--brown-40);
  color: var(--brown-40);
  display: flex;
  align-items: center;
  gap: 8px;
}

button.askBtn:hover {
  outline: 1px solid var(--brown-50);
}

.arrowIcon {
  width: 18px;
  height: 18px;
}

button.askBtn {
  background-color: var(--brown-10);
  border: 1px solid var(--brown-40);
  color: var(--brown-40);
  display: flex;
  align-items: center;
  gap: 8px;
}

button.askBtn:hover {
  border: 2px solid var(--brown-40);
}

.arrowIcon {
  width: 18px;
  height: 18px;
}

.logo {
  margin-top: 53px;
}

.formBox {
  border-radius: 16px;
  background-color: var(--gray-10);
  padding: 32px;
  width: 400px;
}

.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

button.getQuestionBtn {
  height: 46px;
}

body {
  background-color: var(--gray-20);
}

@media (max-width: 768px) {
  .background {
    padding: 44px 50px 0;
  }
}

@media (max-width: 375px) {
  .background {
    height: 100vh;
    padding: 80px 35px 0;
    display: grid;
    justify-items: center;
    align-content: start;
    gap: 24px;
  }

  .header {
    height: auto;
    padding: 0;
    order: 2;
  }

  .askBtnWrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .contentsWrap {
    /* gap: 82px; */
    display: contents;
  }
  .logoWrap {
    padding: 0 28px;
    order: 1;
  }
  .logo {
    margin-top: 0;
  }

  .formBox {
    width: 305px;
    padding: 24px;
    box-sizing: border-box;
    order: 3;
  }

  .nameInput {
    width: 100%;
  }
}
