.skeleton {
  /* shadcn/ui의 기본 색상 느낌 */
  background-color: #404040; /* slate-100 */
  border-radius: 4px;
  width: 100%;

  /* 부드러운 펄스 애니메이션 */
  animation: skeleton-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.circle {
  border-radius: 50%;
}

@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
