.ToastText {
  position: fixed;
  bottom: 10%;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: var(--gray-60);
  color: var(--gray-10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
