.detailCard {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--brown-10);
  border: 1px solid var(--brown-30);
  padding-bottom: 16px;
  box-sizing: border-box;
}

.detailCardHeader {
  padding: 16px;
}

.detailCardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  gap: 8px;
}

.detailCardContent {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.detailItem {
  box-sizing: border-box;
}

.detailItemHeader {
  gap: 8px;
}

.detailItemBadge {
  display: inline-flex;
  border-radius: 8px;
  padding: 4px 12px;
  width: fit-content;
}

.badgeComplete {
  border: 1px solid var(--brown-40);
  color: var(--brown-40);
}

.badgePending {
  border: 1px solid var(--gray-40);
  color: var(--gray-40);
}

.detailItemSubtitle {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.detailItemQuestion {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
  color: #000000;
}

.detailItemQuestionCreatedAt {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 14px;
  color: var(--gray-40);
}

.detailItemQuestionTitle {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 18px;
}

.detailItemAnswer {
  display: flex;
  gap: 12px;
}

.detailItemAnswerThumbnail {
  width: 48px;
}

.detailItemAnswerThumbnailImage {
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.detailItemAnswerContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detailItemAnswerAuthor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.detailItemAnswerAuthorName {
  font-size: 18px;
}

.detailItemAnswerAuthorCreatedAt {
  font-size: 14px;
  color: var(--gray-40);
  line-height: 1;
}

.detailItemAnswerDescription {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

.detailItemFooter {
  padding: 16px;
  box-sizing: border-box;
}

.detailItemFooterReactions {
  display: flex;
  width: 100%;
  padding-top: 16px;
  gap: 32px;
  border-top: 1px solid var(--brown-30);
}

.detailItemFooterReactionsButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  gap: 6px;
}

.detailItemFooterReactionsButtonText {
  font-size: 16px;
  color: var(--gray-40);
}
