.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-10);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--gray-10);
  width: 612px;
  border-radius: 24px;
  box-shadow: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);
  padding: 40px 40px 70px 40px;
}
