.avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  user-select: none;
  overflow: hidden;
  border-radius: 100%;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown-50);
  color: var(--gray-10);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
