/* openmind-frontend/src/pages/Post/components/PostHeaderSkeleton/PostHeaderSkeleton.module.css */
.header {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;
}

.heroBackground {
  width: 100%;
  height: 177px;
  background-image: url('@/assets/images/hero.svg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.profileContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: -76px;
  margin-bottom: 12px;
}

.avatar {
  flex-shrink: 0;
}

.username {
  border-radius: 4px;
}

.shareGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.shareButton {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .heroBackground {
    height: 234px;
  }

  .profileContent {
    margin-top: -105px;
  }

  .avatar {
    width: 136px !important;
    height: 136px !important;
  }

  .username {
    width: 150px !important;
    height: 40px !important;
  }
}